<%- include('partials/header') %>

<h1 class="text-center">Welcome to Another Page</h1>
<p class="text-center">This is just a page to show that route is working</p>
<a href="/">Back</a>

<%- include('partials/footer') %>